.footer {
    background-color: #000;
    .wrap-footer{
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
        .contact{
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content:flex-start;
            align-items: center;
            .adress{
                color: #fff;
            }
            .link{
                margin-left: 35px;
                a{
                    color: #fff;
                    text-decoration: none;
                    margin-left: 15px;
                    &:hover {
                        border-bottom: 2px solid #fff;
                    }
                }
            }
        }
        .social{
            display: flex;
            flex-direction: row;
            .social__vk{
                display: block;
                background: url(../img/icon/vk-brands.svg) no-repeat center center / contain;
                width: 25px;height: 25px;
                margin-right: 5px;
            }
            .social__instagram{
                display: block;
                background: url(../img/icon/instagram-brands.svg) no-repeat center right / contain;
                width: 25px;height: 25px;
            }
        }
    }
}
/*
.wrap-footer{
    width: 100%;
    .contact-flex{
        color: #fff;
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .link{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            margin-right: auto;
            a{
                color: #fff;
                font-size: 15px;
                text-decoration: none;
                margin-left: 10px;
            }
        }
        .social{
            display: flex;
            flex-direction: row;
            margin-top: 15px;
            margin-left: 15px;
            .social__vk{
                display: block;
                background: url(../img/icon/vk-brands.svg) no-repeat center center / contain;
                width: 25px;height: 25px;
                margin-right: 5px;
            }
            .social__instagram{
                display: block;
                background: url(../img/icon/instagram-brands.svg) no-repeat center right / contain;
                width: 25px;height: 25px;
            }
        }
    }
}
*/