@media (min-width: 1200px){
    .gallery{
        background-color: #000;
        height: 100%;
        .wrap-gallery{
            width: 95%;
            margin: 0 auto;
            .slide-card{
                width: 100%;
                padding-top: 50px;
                height: 310px;
                overflow: hidden;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 18px;
                    .name {
                        margin-right: 50px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .slide{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    //height: 280px;
                    div{
                        margin-right: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .foto-card{
                width: 100%;
                padding-top: 50px;
                display: none;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    .name{
                        margin-right: 10px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .foto{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .gallery{
        background-color: #000;
        height: 100%;
        .wrap-gallery{
            width: 95%;
            margin: 0 auto;
            .slide-card{
                width: 100%;
                padding-top: 50px;
                height: 275px;
                overflow: hidden;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 18px;
                    .name {
                        margin-right: 50px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .slide{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    //height: 280px;
                    div{
                        margin-right: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .foto-card{
                width: 100%;
                padding-top: 50px;
                display: none;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    .name{
                        margin-right: 10px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .foto{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (min-width: 801px) and (max-width: 991px) {
    .gallery{
        background-color: #000;
        height: 100%;
        .wrap-gallery{
            width: 95%;
            margin: 0 auto;
            .slide-card{
                width: 100%;
                padding-top: 50px;
                height: 240px;
                overflow: hidden;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 18px;
                    .name {
                        margin-right: 50px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .slide{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    //height: 280px;
                    div{
                        margin-right: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .foto-card{
                width: 100%;
                padding-top: 50px;
                display: none;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    .name{
                        margin-right: 10px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .foto{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 800px){
    .gallery{
        background-color: #000;
        height: 100%;
        .wrap-gallery{
            width: 95%;
            margin: 0 auto;
            .slide-card{
                width: 100%;
                padding-top: 50px;
                height: 210px;
                overflow: hidden;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 18px;
                    .name {
                        margin-right: 50px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .slide{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    //height: 280px;
                    div{
                        margin-right: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .foto-card{
                width: 100%;
                padding-top: 50px;
                display: none;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    .name{
                        margin-right: 10px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .foto{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .gallery{
        background-color: #000;
        height: 100%;
        .wrap-gallery{
            width: 95%;
            margin: 0 auto;
            .slide-card{
                width: 100%;
                padding-top: 10px;
                height: 100px;
                overflow: hidden;
                display: none;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 18px;
                    .name {
                        margin-right: 50px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .slide{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    div{
                        margin-right: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .foto-card{
                width: 100%;
                padding-top: 50px;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    .name{
                        margin-right: 10px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .foto{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .gallery{
        background-color: #000;
        height: 100%;
        .wrap-gallery{
            width: 95%;
            margin: 0 auto;
            .slide-card{
                width: 100%;
                padding-top: 50px;
                height: 340px;
                overflow: hidden;
                display: none;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 18px;
                    .name {
                        margin-right: 50px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .slide{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    //height: 280px;
                    div{
                        margin-right: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .foto-card{
                width: 100%;
                padding-top: 50px;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    .name{
                        margin-right: 10px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .foto{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px) {
    .gallery{
        background-color: #000;
        height: 100%;
        .wrap-gallery{
            width: 95%;
            margin: 0 auto;
            .slide-card{
                width: 100%;
                padding-top: 50px;
                height: 340px;
                overflow: hidden;
                display: none;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    font-size: 18px;
                    .name {
                        margin-right: 50px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .slide{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    //height: 280px;
                    div{
                        margin-right: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            .foto-card{
                width: 100%;
                padding-top: 50px;
                .description{
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    .name{
                        margin-right: 10px;
                    }
                    .date{
                        margin-right: auto;
                    }
                    a{
                        margin-top: 10px;
                        color: #fff;
                        text-decoration: none;
                    }
                }
                .foto{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}
