/* Large desktops and laptops */
@media (min-width: 1200px) {
    .slider{
        width: 100%;
        margin: 0 auto;
        margin-top: 140px;
        .wrap-slider{
            display: flex;
            justify-content: center;
            align-content: center;
            div img {
                width: 100%;
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .slider{
        width: 100%;
        margin: 0 auto;
        margin-top: 140px;
        .wrap-slider{
            display: flex;
            justify-content: center;
            align-content: center;
            div img {
                width: 100%;
            }
        }
    }
    .about{
        margin-top: 150px;
        .wrap-about{
            width: 90%;
            margin: 0 auto;
            h2{
                color: #000;
                font-size: 50px;
                font-weight: normal;
                text-align: center;
            }
            .content-about-grid{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 2fr;
                grid-column-gap: 20px;
                .text-content-about{
                    color: #000;
                    font-size: 20px;
                }
                .pic-content-about{
                    background: url(../img/main/about/bar.jpg) center center no-repeat / cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 801px) and (max-width: 991px) {
    .header{
        .wrap-header{
            .wrap-menu{
                .menu{
                    .menu__item{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .slider{
        width: 100%;
        margin: 0 auto;
        margin-top: 140px;
        .wrap-slider{
            display: flex;
            justify-content: center;
            align-content: center;
            div img {
                width: 100%;
            }
        }
    }
    .about{
        margin-top: 150px;
        .wrap-about{
            width: 90%;
            margin: 0 auto;
            h2{
                color: #000;
                font-size: 50px;
                font-weight: normal;
                text-align: center;
            }
            .content-about-grid{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 2fr;
                grid-column-gap: 20px;
                .text-content-about{
                    color: #000;
                    font-size: 20px;
                }
                .pic-content-about{
                    background: url(../img/main/about/bar.jpg) center center no-repeat / cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .stock{
        width: 90%;
        margin: 70px auto;
        h2{
            text-align: center;
            font-size: 50px;
            font-weight: normal;
        }
        .wrap-stock-grid{
            padding:10px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            .stock-item-grid{
                display: grid;
                min-height: 42vh;
                background-size: cover;
                background-position: center;
                text-align: center;
                align-content: center;
                padding: 20px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                position: relative;
                transition: color .5s ease;
                cursor: pointer;
                .back{display: none;}
                &:hover{
                    color: #fff;
                }
                &:hover span.front{
                    display: none;
                }
                &:hover span.back{
                    display: block;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #293A43;
                    opacity: .65;
                    transition: opacity 0.5s ease ;
                }
                &:hover.stock-item-grid:before{
                    opacity: .100;
                }
                & > *{
                    z-index: 1;
                }
            }
        }
        
    }
}
@media (min-width: 768px) and (max-width: 800px){
    .header{
        .wrap-header{
            .wrap-menu{
                .menu{
                    .menu__item{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .offer{
        .wrap-offer{
            .wrap-logo{
                .logo{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
    .slider{
        width: 100%;
        margin: 0 auto;
        margin-top: 140px;
        .wrap-slider{
            display: flex;
            justify-content: center;
            align-content: center;
            div img {
                width: 100%;
            }
        }
    }
    .about{
        margin-top: 150px;
        .wrap-about{
            width: 90%;
            margin: 0 auto;
            h2{
                color: #000;
                font-size: 50px;
                font-weight: normal;
                text-align: center;
            }
            .content-about-grid{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-column-gap: 20px;
                .text-content-about{
                    color: #000;
                    font-size: 20px;
                }
                .pic-content-about{
                    background: url(../img/main/about/bar.jpg) center center no-repeat / contain;
                }
            }
        }
    }
    .stock{
        width: 90%;
        margin: 70px auto;
        h2{
            text-align: center;
            font-size: 50px;
            font-weight: normal;
        }
        .wrap-stock-grid{
            padding:10px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            .stock-item-grid{
                display: grid;
                min-height: 42vh;
                background-size: cover;
                background-position: center;
                text-align: center;
                align-content: center;
                padding: 20px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                position: relative;
                transition: color .5s ease;
                cursor: pointer;
                .back{display: none;}
                &:hover{
                    color: #fff;
                }
                &:hover span.front{
                    display: none;
                }
                &:hover span.back{
                    display: block;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #293A43;
                    opacity: .65;
                    transition: opacity 0.5s ease ;
                }
                &:hover.stock-item-grid:before{
                    opacity: .100;
                }
                & > *{
                    z-index: 1;
                }
            }
        }
        
    }
    .party{
        margin-top: 150px;
        h2{
            text-align: center;
            font-weight: normal;
            font-size: 50px;
        }
        .wrap-party-grid{
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            .party-item{
                border-top: 0.5px solid rgb(95, 95, 95);
                border-bottom: 0.5px solid rgb(95, 95, 95);
                border-left: 0.5px solid rgb(95, 95, 95);
                border-right: 0.5px solid rgb(95, 95, 95);
                padding: 10px 50px;
            }
        }
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header{
        .wrap-header{
            .wrap-menu{
                .menu{
                    .menu__item{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .offer{
        .wrap-offer{
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .social{
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 70px; 
                .social__vk{
                    display: block;
                    background: url(../img/icon/vk-brands.svg) no-repeat center center / cover;
                    width: 30px;height: 30px;
                }
                .social__instagram{
                    display: block;
                    background: url(../img/icon/instagram-brands.svg) no-repeat center right / cover;
                    width: 30px;height: 30px;
                }
            }
            .wrap-logo{
                display: flex;
                justify-content:center;
                align-items: flex-end;
                margin-left: 0px;
                .logo{
                    width: 250px;
                    height: 250px;
                }
                picture source.logo-sl{
                    width: 100%;
                    height: 100%;
                }
            }
            .phone{
                flex-wrap: nowrap;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .phone__icon{
                    display: block;
                    background: url(../img/icon/phone-solid.svg) no-repeat center right / cover;
                    width: 20px;height: 20px;
                }
                p {
                    margin-left: 15px;
                }
            }
        }
    }
    .utp{
        font-size: 15px;
    }
    .slider{
        display: none;
        width: 100%;
        margin: 0 auto;
        margin-top: 140px;
        .wrap-slider{
            //display: none;
            justify-content: center;
            align-content: center;
            div img {
                width: 100%;
            }
        }
    }
    .about{
        margin-top: 50px;
        .wrap-about{
            width: 90%;
            margin: 0 auto;
            h2{
                color: #000;
                font-size: 50px;
                font-weight: normal;
                text-align: center;
            }
            .content-about-grid{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
                grid-column-gap: 20px;
                .text-content-about{
                    color: #000;
                    font-size: 15px;
                }
                .pic-content-about{
                    background: url(../img/main/about/bar.jpg) center center no-repeat / contain;
                }
            }
        }
    }
    .stock{
        width: 90%;
        margin: 70px auto;
        h2{
            text-align: center;
            font-size: 50px;
            font-weight: normal;
        }
        .wrap-stock-grid{
            padding:10px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            .stock-item-grid{
                display: grid;
                min-height: 42vh;
                background-size: cover;
                background-position: center;
                text-align: center;
                align-content: center;
                padding: 20px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                position: relative;
                transition: color .5s ease;
                cursor: pointer;
                .back{display: none;}
                &:hover{
                    color: #fff;
                }
                &:hover span.front{
                    display: none;
                }
                &:hover span.back{
                    display: block;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #293A43;
                    opacity: .65;
                    transition: opacity 0.5s ease ;
                }
                &:hover.stock-item-grid:before{
                    opacity: .100;
                }
                & > *{
                    z-index: 1;
                }
            }
        }
        
    }
    .party{
        margin-top: 150px;
        h2{
            text-align: center;
            font-weight: normal;
            font-size: 50px;
        }
        .wrap-party-grid{
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            .party-item{
                border-top: 0.5px solid rgb(95, 95, 95);
                border-bottom: 0.5px solid rgb(95, 95, 95);
                border-left: 0.5px solid rgb(95, 95, 95);
                border-right: 0.5px solid rgb(95, 95, 95);
                padding: 10px 50px;
            }
        }
    }

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .header{
        .wrap-header{
            .wrap-menu{
                .menu{
                    .menu__item{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .offer{
        .wrap-offer{
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .social{
                align-self: flex-end;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                width: 70px; 
                .social__vk{
                    display: block;
                    background: url(../img/icon/vk-brands.svg) no-repeat center center / cover;
                    width: 30px;height: 30px;
                }
                .social__instagram{
                    display: block;
                    background: url(../img/icon/instagram-brands.svg) no-repeat center right / cover;
                    width: 30px;height: 30px;
                }
            }
            .wrap-logo{
                display: flex;
                justify-content:center;
                align-items: flex-end;
                margin-left: 0px;
                .logo{
                    width: 250px;
                    height: 250px;
                }
                picture source.logo-sl{
                    width: 100%;
                    height: 100%;
                }
            }
            .phone{
                flex-wrap: nowrap;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .phone__icon{
                    display: block;
                    background: url(../img/icon/phone-solid.svg) no-repeat center right / cover;
                    width: 20px;height: 20px;
                }
                p {
                    margin-left: 15px;
                }
            }
        }
    }
    .slider{
        display: none;
        width: 80%;
        margin: 0 auto;
        margin-top: 140px;
        .wrap-slider{
            justify-content: center;
            align-content: center;
            div img {
                width: 100%;
            }
        }
    }
    .about{
        margin-top: 100px;
        .wrap-about{
            width: 90%;
            margin: 0 auto;
            h2{
                color: #000;
                font-size: 50px;
                font-weight: normal;
                text-align: center;
            }
            .content-about-grid{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 0.5fr;
                grid-column-gap: 20px;
                .text-content-about{
                    color: #000;
                    font-size: 18px;
                }
                .pic-content-about{
                    background: url(../img/main/about/bar.jpg) center center no-repeat / contain;
                }
            }
        }
    }
    .stock{
        width: 90%;
        margin: 70px auto;
        h2{
            text-align: center;
            font-size: 50px;
            font-weight: normal;
        }
        .wrap-stock-grid{
            padding:10px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 10px;
            .stock-item-grid{
                display: grid;
                min-height: 42vh;
                background-size: cover;
                background-position: center;
                text-align: center;
                align-content: center;
                padding: 20px;
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                position: relative;
                transition: color .5s ease;
                cursor: pointer;
                .back{display: none;}
                &:hover{
                    color: #fff;
                }
                &:hover span.front{
                    display: none;
                }
                &:hover span.back{
                    display: block;
                }
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #293A43;
                    opacity: .65;
                    transition: opacity 0.5s ease ;
                }
                &:hover.stock-item-grid:before{
                    opacity: .100;
                }
                & > *{
                    z-index: 1;
                }
            }
        }
        
    }
    .events{
        //margin: 150px;
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        h2{
            text-align: center;
            font-size: 50px;
            font-weight: normal;
        }
        .wrap-events{
            width: 100%;
            .wrap-events-item{
                width: 100%;
                text-align: left;
                .events-item{
                    text-align: left;
                    margin-top: 50px;
                    font-size: 15px;
                    p{
                        text-align: left;
                    }
                }
            }
        }
    }
    .party{
        margin-top: 150px;
        h2{
            text-align: center;
            font-weight: normal;
            font-size: 50px;
        }
        .wrap-party-grid{
            width: 80%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            .party-item{
                border-top: 0.5px solid rgb(95, 95, 95);
                border-bottom: 0.5px solid rgb(95, 95, 95);
                border-left: 0.5px solid rgb(95, 95, 95);
                border-right: 0.5px solid rgb(95, 95, 95);
                padding: 10px 50px;
            }
        }
    }
}

/* Iphone 5 */
@media (max-width: 320px) {

}