body{
    font-family: Courier New, sans-serif;
    font-size: 14px;
    color: #000;
}
.header{
    background:url('../img/main/lamp.jpg') top center no-repeat / cover;
    height: 100vh;
}
.utp{
    text-align: center;
    font-size: 22px;
    color: #fff;
}
.offer{
    color: #fff;
    margin-top: 25px;
    .wrap-offer{
        padding-top: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .social{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60px; 
            .social__vk{
                display: block;
                background: url(../img/icon/vk-brands.svg) no-repeat center center / cover;
                width: 25px;height: 25px;
            }
            .social__instagram{
                display: block;
                background: url(../img/icon/instagram-brands.svg) no-repeat center right / cover;
                width: 25px;height: 25px;
            }
        }
        .wrap-logo{
            display: flex;
            justify-content:center;
            align-items: flex-end;
            margin-left: 80px;
            .logo{
                width: 256px;
                height: 128px;
            }
            picture source.logo-sl{
                width: 100%;
                height: 100%;
            }
        }
        .phone{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .phone__icon{
                display: block;
                background: url(../img/icon/phone-solid.svg) no-repeat center right / cover;
                width: 25px;height: 25px;
            }
            p {
                margin-left: 15px;
            }
        }
    }
}
.slider{
    width: 100%;
    margin: 0 auto;
    margin-top: 140px;
    .wrap-slider{
        display: flex;
        justify-content: center;
        align-content: center;
        div img {
            width: 100%;
        }
    }
}
.about{
    margin-top: 150px;
    .wrap-about{
        width: 90%;
        margin: 0 auto;
        h2{
            color: #000;
            font-size: 50px;
            font-weight: normal;
            text-align: center;
        }
        .content-about-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 20px;
            .text-content-about{
                color: #000;
                font-size: 20px;
            }
            .pic-content-about{
                background: url(../img/main/about/bar.jpg) center center no-repeat / cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.stock{
    width: 90%;
    margin: 70px auto;
    h2{
        text-align: center;
        font-size: 50px;
        font-weight: normal;
    }
    .wrap-stock-grid{
        padding:10px;
        display: grid;
	    grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
        .stock-item-grid{
            display: grid;
            min-height: 42vh;
	        background-size: cover;
	        background-position: center;
	        text-align: center;
	        align-content: center;
	        padding: 20px;
	        font-size: 20px;
	        font-weight: bold;
	        color: #fff;
	        position: relative;
	        transition: color .5s ease;
            cursor: pointer;
            .back{display: none;}
            &:hover{
                color: #fff;
            }
            &:hover span.front{
                display: none;
            }
            &:hover span.back{
                display: block;
            }
            &:before{
                content: '';
	            position: absolute;
	            top: 0;
	            left: 0;
	            right: 0;
	            bottom: 0;
	            background-color: #293A43;
	            opacity: .65;
	            transition: opacity 0.5s ease ;
            }
            &:hover.stock-item-grid:before{
                opacity: .100;
            }
            & > *{
                z-index: 1;
            }
        }
    }
    
}
.events{
    margin: 150px;
    h2{
        text-align: center;
        font-size: 50px;
        font-weight: normal;
    }
    .wrap-events{
        width: 90%;
        margin: 0 auto;
        .wrap-events-item{

            .events-item{
                margin-top: 50px;
                text-align: left;
            }
        }
    }
}
.party{
    margin-top: 150px;
    h2{
        text-align: center;
        font-weight: normal;
        font-size: 50px;
    }
    .wrap-party-grid{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .party-item{
            border-top: 0.5px solid rgb(95, 95, 95);
            border-bottom: 0.5px solid rgb(95, 95, 95);
            border-left: 0.5px solid rgb(95, 95, 95);
            border-right: 0.5px solid rgb(95, 95, 95);
            padding: 10px 50px;
        }
    }
}
.go-to-menu{
    width: 90%;
    margin: 150px auto;
    text-align: center;
    a{
        background-color: #000;
        color: #fff;
        padding: 15px 25px;
        text-decoration: none;
        &:hover{
            animation: move-btn 2s ease 0s infinite alternate none;
        }
    }
}
@keyframes move-btn {
    from {padding: 15px 25px;}
    30% {padding: 20px 35px;}
    50% {padding: 25px 45px;}
    80% {padding: 20px 35px;}
    to {padding: 15px 25px;}
}
