@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px) {
    .main{
        h1 {
            margin-top: 70px;
            text-align: center;
        }
        .wrap-main{
            width: 80%;
            display: grid;
            grid-template-columns: 30% 70%;
            .wrap-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                .btn{
                    margin-bottom: 20px;
                    width: 150px;
                    height: 50px;
                    outline: 0 !important;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }
            .wrap-content{
                .wrap-bat0-grid{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat1-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat2-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat3-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 500px;
                        height: 750px;
                    }
                }
                .wrap-bat4-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 496px;
                        height: 691px;
                    }
                }
            }
        }
    }
}
@media (min-width: 801px) and (max-width: 991px) {
    .main{
        h1 {
            margin-top: 70px;
            text-align: center;
        }
        .wrap-main{
            width: 80%;
            display: grid;
            grid-template-columns: 30% 70%;
            .wrap-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                .btn{
                    margin-bottom: 20px;
                    width: 150px;
                    height: 50px;
                    outline: 0 !important;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }
            .wrap-content{
                .wrap-bat0-grid{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat1-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat2-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat3-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 500px;
                        height: 750px;
                    }
                }
                .wrap-bat4-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 496px;
                        height: 691px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 800px){
    .main{
        h1 {
            margin-top: 70px;
            text-align: center;
        }
        .wrap-main{
            width: 80%;
            display: grid;
            grid-template-columns: 30% 70%;
            .wrap-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                .btn{
                    margin-bottom: 20px;
                    width: 150px;
                    height: 50px;
                    outline: 0 !important;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }
            .wrap-content{
                .wrap-bat0-grid{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat1-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat2-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 400px;
                        height: 800px;
                    }
                }
                .wrap-bat3-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 500px;
                        height: 750px;
                    }
                }
                .wrap-bat4-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 496px;
                        height: 691px;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .main{
        h1 {
            margin-top: 70px;
            text-align: center;
        }
        .wrap-main{
            width: 100%;
            display: grid;
            grid-template-columns: 30% 70%;
            .wrap-button{
                display: flex;
                flex-direction: column;
                align-items: center;
                .btn{
                    margin-bottom: 20px;
                    width: 130px;
                    height: 50px;
                    outline: 0 !important;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }
            .wrap-content{
                .wrap-bat0-grid{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    img {
                        width: 300px;
                        height: 700px;
                    }
                }
                .wrap-bat1-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 300px;
                        height: 700px;
                    }
                }
                .wrap-bat2-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 300px;
                        height: 700px;
                    }
                }
                .wrap-bat3-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 300px;
                        height: 550px;
                    }
                }
                .wrap-bat4-grid{
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 296px;
                        height: 491px;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .main{
        h1 {
            margin-top: 70px;
            text-align: center;
        }
        .wrap-main{
            width: 100%;
            display: grid;
            grid-template-rows: 2;
            grid-template-columns: initial;
            margin: 0 auto;
            .wrap-button{
                display: flex;
                align-items: center;
                .btn{
                    margin-bottom: 20px;
                    width: 130px;
                    height: 50px;
                    outline: 0 !important;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                }
            }
            .wrap-content{
                .wrap-bat0-grid{
                    grid-row: 2;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 480px;
                        height: 800px;
                    }
                }
                .wrap-bat1-grid{
                    grid-row: 2;
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 480px;
                        height: 800px;
                    }
                }
                .wrap-bat2-grid{
                    grid-row: 2;
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 480px;
                        height: 700px;
                    }
                }
                .wrap-bat3-grid{
                    grid-row: 2;
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 480px;
                        height: 750px;
                    }
                }
                .wrap-bat4-grid{
                    grid-row: 2;
                    display: none;
                    grid-template-columns: 1fr;
                    grid-gap: 5px;
                    justify-content: center;
                    img {
                        width: 480px;
                        height: 691px;
                    }
                }
            }
        }
    }
}
@media (max-width: 320px) {

}
