body{
    font-family: Courier New, sans-serif;
    font-size: 14px;
    color: #fff;
}
.header{
    background: url("../img/menu/bg/eat.jpg") top center no-repeat / cover;
    height: 100vh;
}
.main{
    h1 {
        margin-top: 70px;
        text-align: center;
    }
    .wrap-main{
        width: 95%;
        .wrap-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn{
                margin-bottom: 20px;
                width: 150px;
                height: 50px;
                outline: 0 !important;
                border: 0;
                padding: 0;
                cursor: pointer;
            }
            .bat0{
                background: #000 url(../img/menu/button/bat_0.jpg) no-repeat center center / cover ;
            }
            .bat1{
                background: #000 url(../img/menu/button/bat_1.jpg) no-repeat center center / cover ;
            }
            .bat2{
                background: #000 url(../img/menu/button/bat_2.jpg) no-repeat center center / cover ;
            }
            .bat3{
                background: #000 url(../img/menu/button/bat_3.jpg) no-repeat center center / cover ;
            }
            .bat4{
                background: #000 url(../img/menu/button/bat_4.jpg) no-repeat center center / cover ;
            }
        }
        .wrap-content{
            .wrap-bat0-grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;
                img {
                    width: 400px;
                    height: 800px;
                }
            }
            .wrap-bat1-grid{
                display: none;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;
                img {
                    width: 400px;
                    height: 800px;
                }
            }
            .wrap-bat2-grid{
                display: none;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;
                img {
                    width: 400px;
                    height: 800px;
                }
            }
            .wrap-bat3-grid{
                display: none;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;
                img {
                    width: 500px;
                    height: 750px;
                }
            }
            .wrap-bat4-grid{
                display: none;
                grid-template-columns: 1fr 1fr;
                grid-gap: 5px;
                img {
                    width: 496px;
                    height: 691px;
                }
            }
        }
    }
}