body{
    font-family: Courier New, sans-serif;
    font-size: 14px;
    background: #000 url('../img/main/fon-bg.jpg') center top / cover;
    color: #fff;
}
.main{
    h1{
        margin-top: 70px;
        text-align: center;
    }
    .wrap-main{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1;
        grid-row-gap: 10px;
        .wrap-card{
            display: grid;
            grid-template-columns: 1fr 1fr;
            background-color: #f7f7f7;
	        text-decoration: none;
	        transition: background-color .25s ease;
	        overflow: hidden;
            color: #333;
            &:hover{
                background-color: #E0E0E0;
                .card__img{
                    transform: scale(1.05)
	                translateY(-6.5px);
                }
            }
            .card__img{
                //height: 250px;
	            -webkit-background-size: cover;
	            background-size: cover;
	            background-position: center;
	            -webkit-transition: transform .25s ease;
	            -o-transition: transform .25s ease;
	            transition: transform .25s ease;
            }
            .card__content{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 25px;
	            text-align: center;
                align-content: center;
                p:nth-child(1){
                    font-size: 18px;
                }
            }
        }
    }
}