.wrap-menu [type="checkbox"],
.wrap-menu label {
  display: none; }

.header {
  font-family: Courier New, sans-serif;
  font-size: 14px; }
  .header .wrap-header .wrap-menu {
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2; }
    .header .wrap-header .wrap-menu .icon {
      background: url(../img/icon/bars-solid.svg) no-repeat;
      width: 25px;
      height: 25px;
      outline: 0;
      border: none; }
    .header .wrap-header .wrap-menu .menu {
      display: flex;
      justify-content: space-around;
      list-style-type: none; }
      .header .wrap-header .wrap-menu .menu .menu__item {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff; }
        .header .wrap-header .wrap-menu .menu .menu__item:hover {
          border-bottom: 1px solid #fff; }

@media all and (max-width: 800px) {
  .header {
    font-size: 14px; }
  .menu {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: auto; }
  .wrap-menu {
    overflow: hidden; }
  .wrap-menu ul {
    display: none;
    max-height: 0;
    transition: max-height 0.3s; }
  .wrap-menu ul li a {
    display: none; }
  .wrap-menu label.toggleMenu {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff; }
  input.toggleMenu:checked + label.toggleMenu {
    background: #000;
    color: #fff; }
  input.toggleMenu:checked ~ .menu {
    display: inline-grid;
    position: relative;
    max-height: 5000px;
    transition: max-height 2s ease-in;
    width: 100%;
    z-index: 7; }
  input.toggleMenu:checked ~ .menu li {
    float: left;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 15px;
    height: 20px; }
  input.toggleMenu:checked ~ .menu li a {
    display: flex;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px; } }
