body {
  font-family: Courier New, sans-serif;
  font-size: 14px;
  color: #000; }

.header {
  background: url("../img/main/lamp.jpg") top center no-repeat/cover;
  height: 100vh; }

.utp {
  text-align: center;
  font-size: 22px;
  color: #fff; }

.offer {
  color: #fff;
  margin-top: 25px; }
  .offer .wrap-offer {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .offer .wrap-offer .social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60px; }
      .offer .wrap-offer .social .social__vk {
        display: block;
        background: url(../img/icon/vk-brands.svg) no-repeat center center/cover;
        width: 25px;
        height: 25px; }
      .offer .wrap-offer .social .social__instagram {
        display: block;
        background: url(../img/icon/instagram-brands.svg) no-repeat center right/cover;
        width: 25px;
        height: 25px; }
    .offer .wrap-offer .wrap-logo {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-left: 80px; }
      .offer .wrap-offer .wrap-logo .logo {
        width: 256px;
        height: 128px; }
      .offer .wrap-offer .wrap-logo picture source.logo-sl {
        width: 100%;
        height: 100%; }
    .offer .wrap-offer .phone {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .offer .wrap-offer .phone .phone__icon {
        display: block;
        background: url(../img/icon/phone-solid.svg) no-repeat center right/cover;
        width: 25px;
        height: 25px; }
      .offer .wrap-offer .phone p {
        margin-left: 15px; }

.slider {
  width: 100%;
  margin: 0 auto;
  margin-top: 140px; }
  .slider .wrap-slider {
    display: flex;
    justify-content: center;
    align-content: center; }
    .slider .wrap-slider div img {
      width: 100%; }

.about {
  margin-top: 150px; }
  .about .wrap-about {
    width: 90%;
    margin: 0 auto; }
    .about .wrap-about h2 {
      color: #000;
      font-size: 50px;
      font-weight: normal;
      text-align: center; }
    .about .wrap-about .content-about-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px; }
      .about .wrap-about .content-about-grid .text-content-about {
        color: #000;
        font-size: 20px; }
      .about .wrap-about .content-about-grid .pic-content-about {
        background: url(../img/main/about/bar.jpg) center center no-repeat/cover;
        width: 100%;
        height: 100%; }
