body {
  font-family: Courier New, sans-serif;
  font-size: 14px;
  color: #000; }

.header {
  background: url("../img/main/lamp.jpg") top center no-repeat/cover;
  height: 100vh; }

.utp {
  text-align: center;
  font-size: 22px;
  color: #fff; }

.offer {
  color: #fff;
  margin-top: 25px; }
  .offer .wrap-offer {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .offer .wrap-offer .social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60px; }
      .offer .wrap-offer .social .social__vk {
        display: block;
        background: url(../img/icon/vk-brands.svg) no-repeat center center/cover;
        width: 25px;
        height: 25px; }
      .offer .wrap-offer .social .social__instagram {
        display: block;
        background: url(../img/icon/instagram-brands.svg) no-repeat center right/cover;
        width: 25px;
        height: 25px; }
    .offer .wrap-offer .wrap-logo {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-left: 80px; }
      .offer .wrap-offer .wrap-logo .logo {
        width: 256px;
        height: 128px; }
      .offer .wrap-offer .wrap-logo picture source.logo-sl {
        width: 100%;
        height: 100%; }
    .offer .wrap-offer .phone {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .offer .wrap-offer .phone .phone__icon {
        display: block;
        background: url(../img/icon/phone-solid.svg) no-repeat center right/cover;
        width: 25px;
        height: 25px; }
      .offer .wrap-offer .phone p {
        margin-left: 15px; }

.slider {
  width: 100%;
  margin: 0 auto;
  margin-top: 140px; }
  .slider .wrap-slider {
    display: flex;
    justify-content: center;
    align-content: center; }
    .slider .wrap-slider div img {
      width: 100%; }

.about {
  margin-top: 150px; }
  .about .wrap-about {
    width: 90%;
    margin: 0 auto; }
    .about .wrap-about h2 {
      color: #000;
      font-size: 50px;
      font-weight: normal;
      text-align: center; }
    .about .wrap-about .content-about-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px; }
      .about .wrap-about .content-about-grid .text-content-about {
        color: #000;
        font-size: 20px; }
      .about .wrap-about .content-about-grid .pic-content-about {
        background: url(../img/main/about/bar.jpg) center center no-repeat/cover;
        width: 100%;
        height: 100%; }

.stock {
  width: 90%;
  margin: 70px auto; }
  .stock h2 {
    text-align: center;
    font-size: 50px;
    font-weight: normal; }
  .stock .wrap-stock-grid {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; }
    .stock .wrap-stock-grid .stock-item-grid {
      display: grid;
      min-height: 42vh;
      background-size: cover;
      background-position: center;
      text-align: center;
      align-content: center;
      padding: 20px;
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      position: relative;
      transition: color .5s ease;
      cursor: pointer; }
      .stock .wrap-stock-grid .stock-item-grid:hover {
        color: #fff; }
      .stock .wrap-stock-grid .stock-item-grid:hover span.front {
        display: none; }
      .stock .wrap-stock-grid .stock-item-grid:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #293A43;
        opacity: .65;
        transition: opacity 0.5s ease; }
      .stock .wrap-stock-grid .stock-item-grid:hover.stock-item-grid:before {
        opacity: .100; }
      .stock .wrap-stock-grid .stock-item-grid > * {
        z-index: 1; }

.events {
  margin: 150px; }
  .events h2 {
    text-align: center;
    font-size: 50px;
    font-weight: normal; }
  .events .wrap-events {
    width: 90%;
    margin: 0 auto; }
    .events .wrap-events .wrap-events-item .events-item {
      margin-top: 50px;
      text-align: left; }
