body {
  font-family: Courier New, sans-serif;
  font-size: 14px;
  background: #000 url("../img/main/fon-bg.jpg") center top/cover;
  color: #fff; }

.offer {
  margin-top: 50px; }
  .offer .wrap-offer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .offer .wrap-offer .social {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60px; }
      .offer .wrap-offer .social .social__vk {
        display: block;
        background: url(../img/icon/vk-brands.svg) no-repeat center center/cover;
        width: 25px;
        height: 25px; }
      .offer .wrap-offer .social .social__instagram {
        display: block;
        background: url(../img/icon/instagram-brands.svg) no-repeat center right/cover;
        width: 25px;
        height: 25px; }
    .offer .wrap-offer .wrap-logo {
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .offer .wrap-offer .wrap-logo .logo {
        width: 128px;
        height: 64px; }
      .offer .wrap-offer .wrap-logo picture source.logo-sl {
        width: 100%;
        height: 100%; }
    .offer .wrap-offer .phone {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .offer .wrap-offer .phone .phone__icon {
        display: block;
        background: url(../img/icon/phone-solid.svg) no-repeat center right/cover;
        width: 25px;
        height: 25px; }
      .offer .wrap-offer .phone p {
        margin-left: 15px; }

.slider {
  width: 80%;
  margin: 0 auto; }
  .slider .wrap-slider {
    display: flex;
    justify-content: center;
    align-content: center; }
    .slider .wrap-slider div img {
      width: 100%; }
